@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

/* Set the same width for both horizontal and vertical scrollbars */
::-webkit-scrollbar:vertical {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}
